<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아주대 인지연구실</title>
    <link href="{% static 'css/ex01.css' %}" rel="stylesheet" type="text/css" />

</head>
<!-- body head 창 사이즈 고정 설정 -->
<body onresize="parent.resizeTo(1260,800)" onload="parent.resizeTo(1260,800)">

    <div id="jb-container">
      <div id="jb-header">
        <h1> 특성공감 질문 </h1>
      </div>
      <div id="jb-content">

          <form action="" method=""> {% csrf_token %}
              <table class="rwd-table">
                <thead>
                    <tr>
                        <th style="width:5%"> 문항 </th>
                        <th style="width:45%"> 질문 </th>
                        <th style="width:10%"> 매우 그렇지 않다 </br> 1</th>
                        <th style="width:10%"> 그렇지</br> 않다 </br>2 </th>
                        <th style="width:10%"> 보통이다 </br></br>3</th>
                        <th style="width:10%"> 그렇다 </br></br> 4</th>
                        <th style="width:10%"> 매우 </br>그렇다 </br> 5</th>

                    </tr>

                </thead>
                <tbody>
                  <tr>
                      <td> 1 </td>
                      <td style="text-align:left"> 누군가를 비난하기 전에, 나는 내가 그들의 입장에 있다면 어떤 기분일지 상상하려고 노력한다. </td>
                      <td> <input type="radio" name="em1" value="1" ></td>
                      <td> <input type="radio" name="em1" value="2" >  </td>
                      <td> <input type="radio" name="em1" value="3" >  </td>
                      <td> <input type="radio" name="em1" value="4" >  </td>
                      <td> <input type="radio" name="em1" value="5" >  </td>
                  </tr>
                  <tr>
                      <td> 2 </td>
                      <td style="text-align:left"> 만약 내가 무언가에 대해 옳다고 확신한다면, 나는 다른 사람들의 주장을 듣는 데 많은 시간을 낭비하지 않는다. </td>
                      <td> <input type="radio" name="em2" value="1" ></td>
                      <td> <input type="radio" name="em2" value="2" >  </td>
                      <td> <input type="radio" name="em2" value="3" >  </td>
                      <td> <input type="radio" name="em2" value="4" >  </td>
                      <td> <input type="radio" name="em2" value="5" >  </td>

                  </tr>
                  <tr>
                      <td> 3 </td>
                      <td style="text-align:left"> 나는 가끔 친구들의 관점에서 상황이 어떻게 보이는지 상상하면서 친구들을 더 잘 이해하려고 노력한다. </td>
                      <td> <input type="radio" name="em3" value="1" ></td>
                      <td> <input type="radio" name="em3" value="2" >  </td>
                      <td> <input type="radio" name="em3" value="3" >  </td>
                      <td> <input type="radio" name="em3" value="4" >  </td>
                      <td> <input type="radio" name="em3" value="5" >  </td>

                  </tr>
                  <tr>
                      <td> 4 </td>
                      <td style="text-align:left"> 나는 모든 질문에는 양면성이 있다고 생각하며 그것들을 모두 보려고 노력한다. </td>
                      <td> <input type="radio" name="em4" value="1" ></td>
                      <td> <input type="radio" name="em4" value="2" >  </td>
                      <td> <input type="radio" name="em4" value="3" >  </td>
                      <td> <input type="radio" name="em4" value="4" >  </td>
                      <td> <input type="radio" name="em4" value="5" >  </td>

                  </tr>
                  <tr>
                      <td> 5 </td>
                      <td style="text-align:left"> 나는 가끔 "다른 사람"의 관점에서 사물을 보는 것이 어렵다고 생각한다. </td>
                      <td> <input type="radio" name="em5" value="1" ></td>
                      <td> <input type="radio" name="em5" value="2" >  </td>
                      <td> <input type="radio" name="em5" value="3" >  </td>
                      <td> <input type="radio" name="em5" value="4" >  </td>
                      <td> <input type="radio" name="em5" value="5" >  </td>

                  </tr>
                  <tr>
                      <td> 6 </td>
                      <td style="text-align:left"> 나는 결정을 내리기 전에 모든 사람들의 의견 차이를 보려고 노력한다. </td>
                      <td> <input type="radio" name="em6" value="1" ></td>
                      <td> <input type="radio" name="em6" value="2" >  </td>
                      <td> <input type="radio" name="em6" value="3" >  </td>
                      <td> <input type="radio" name="em6" value="4" >  </td>
                      <td> <input type="radio" name="em6" value="5" >  </td>

                  </tr>
                  <tr>
                      <td> 7 </td>
                      <td style="text-align:left"> 내가 상대방에게 화가 났을 때, 나는 보통 "상대방의 입장이 되어보기"를 잠시동안 시도한다.   </td>
                      <td> <input type="radio" name="em7" value="1" ></td>
                      <td> <input type="radio" name="em7" value="2" >  </td>
                      <td> <input type="radio" name="em7" value="3" >  </td>
                      <td> <input type="radio" name="em7" value="4" >  </td>
                      <td> <input type="radio" name="em7" value="5" >  </td>

                  </tr>

                </tbody>
              </table>

          </form>
      </div>
      <div id="jb-footer" >
          <div style="float:right">   <button class="w-btn-outline w-btn-gray-outline" onclick="location.href='{% url 'p2' %}'" style="text-align:center"> 다음 </button>  </div>
      </div>
    </div>

</body>
</html>