<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>아주대 인지연구실</title>
    <link href="{% static 'css/ex01.css' %}" rel="stylesheet" type="text/css" />
</head>
<!-- body head 창 사이즈 고정 설정 -->
<body onresize="parent.resizeTo(1260,800)" onload="parent.resizeTo(1260,800)">

    <div id="jb-container">
      <div id="jb-header">
        <h1> 개인정보 수집  </h1>
      </div>
      <div id="jb-content">

          <form style="text-align:left">
              <p> 수집된 개인정보는 연구진행자만 관리하며, 연구 종료 후 폐기될 예정입니다. </br>
                    필수 작성이 아니며, 개인정보 수집에 동의하시는 경우 작성해주세요. </br></br>
              </p>
              <p> 1. <b>전화번호</b>를 작성해주세요. </br>
                  <input type="text" id="tel" class="input_text" placeholder="000-0000-0000"/>
              </p>
              <p> 2. 실험참가점수 부여에 필요한 <b>학번</b>을 작성해주세요. (9자리) <br>
                  <input type="text" id="num1" class="input_text" placeholder="000000000"/>
              </p>
              <p>
                  3. 실험참가점수를 받을 <b>수업명</b>을 작성해주세요. <br>
                  <input type="text" id="cla" class="input_text" />
              </p>

          </form>
      </div>
      <div id="jb-footer" >
          <div style="float:right">   <button class="w-btn-outline w-btn-gray-outline" onclick="window.close()" style="text-align:center"> 다음 </button>  </div>
      </div>
    </div>

</body>
</html>